@using System.Configuration
@using Castle.Core.Internal
@model WindsorExample.Models.AssignWorkViewModel
﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!--have to comment below out to load select2 functions-->
    <!--script src="~/Scripts/jquery-2.1.4.min.js"></!--script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script-->
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/select2.sortable.js"></script>
    <link href="~/Content/css/select2.min.css" rel="stylesheet"/>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            //$("#e16").select2('container').find('.e16').addClass('hidden');
            //build array of tags
            var tagArr = new Array();
            var tagArr2 = new Array();
            @if (! @Model.IsReportsSelected)
            {
                 foreach(var item in @Model.Kpis){
                      <text>tagArr.push("@item.KpiName")</text>
                 }
                foreach(var item in @Model.Reports){
                    <text>tagArr2.push("@item.ReportName")</text>
                }
            }
            @if (@Model.IsReportsSelected)
            {
                foreach(var item in @Model.Reports){
                    <text>tagArr.push("@item.ReportName")</text>
                }
                foreach(var item in @Model.Kpis){
                      <text>tagArr2.push("@item.KpiName")</text>
                 }
            }
            //populate dropdown 1
            $("#e15").select2({
                placeholder: 'Select option',
                tags: tagArr
            });
            $("#e15").on("change", function() {
                $("#e15_val").html($("#e15").val());
                $("#hello1").removeClass('hidden');
            });

            //populate dropdown 2
            $("#e16").select2({
                placeholder: 'Select option',
                tags: tagArr2
            });
            
            $("#e16").on("change", function() {
                $("#e16_val").html($("#e16").val());
                $("#buttonDiv").removeClass('hidden');
            });
            $("#submitButton").on("click",function() {
                var selectedKPI = $("#e15").val();
                var selectedReports = $("#e16").val();
                //idea is to get all values selected and then submit to controller as string arrays
                $.ajax({
                    url: '@Url.Action("UpdateLink")',
                    type: 'POST',
                    data: {
                        kpi: selectedKPI,
                        report: selectedReports
                        //report: $("#e16").select2("val")
                    },
                    success: function(result) {
                        // when the AJAX succeeds refresh the ddl container with
                        // the partial HTML returned by the Foo controller action
                        $('#partialContainer').html(result);
                    }
                });
            });
        });
    </script>
    <title></title>
</head>
<body>
<select multiple id="e15" style="width: 300px" input type="hidden">
    <option value=""/>
</select>

    <div class="hidden" id="hello1">
        <select multiple id="e16" style="width: 300px" input type="hidden">
            <option value="" />
        </select>
    </div>

    <input id="hiddenHtmlInput" type="hidden" class="bigdrop" style="width: 30%" value="" />

<div id="buttonDiv" class="hidden">
    <button id="submitButton">Submit</button>
</div>
</body>
</html>